<%#<form action="/horses">

  <input type="hidden" name="authenticity token">

  <label for="horse_name">Name</label>
  <input type="text" name="name">

  <label for="speed">Speed</label>
  <input type="text" name="speed">

  <label for="height">Height</label>
  <input type="text" name="height">

  <label for="obedience">Obedience</label>
  <input type="text" name="obedience">

  <input type="submit">
</form>%>

<%= form_for(@horse) do |f| %>
  <p><%= f.label :horse_name %></p>
    <p><%= f.text_field :horse_name %></p>
  <p><%= f.label :address %></p>
    <p><%= f.text_field :address %></p>
  <p><%= f.label :obedience %></p>
    <p><%= f.text_field :obedience %></p>
  <p><%= f.label :speed %></p>
    <p><%= f.number_field :speed %></p>
  <p><%= f.label :height %></p>
    <p><%= f.number_field :height %></p>
  <p><%= f.label :photo %></p>
    <p><%= f.file_field :photo, multiple: false, direct_upload: true %></p>
  <p><%= f.submit %></p>
<% end %>
