<div class="container">
<h1>Available horses</h1>
  <div class="photo-bubble">
    <%= image_tag("bojack_avatar.png", height: 200, crop: :fill) %>
    <div class="bubble">
      <% if current_user %>
        <p>"Good job getting here, <%= @user.first_name  %> <%= @user.last_name %>. It seems there is only one horse available right now.
          Lucky for you, bad luck for me. It's me, Bojack!"</p>
      <% else %>
          <p>"Good job getting here unknown stranger. It seems there is only one horse available right now.
          Lucky for you, bad luck for me. It's me, Bojack!"</p>
      <% end %>
    </div>
</div>

  <h3>Filter by:</h3>
    <%= form_tag horses_path, method: :get do %>
      <h4>Obedience</h4>
      <%= select_tag :obedience, options_for_select(['', 'Wild','Moody','Great']) %>
      <%#= select_tag :speed, options_for_select(["", 1, 2, 3, 4, 5]) %>
      <%#= select_tag :height, options_for_select([1, 2, 3, 4, 5]) %>
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  <% end %>


  <% @horses.each do |horse|  %>
  <div class="card-product">

      <% if horse.photo.attached? %>
        <%= cl_image_tag(horse.photo.key, width: 400, height: 300, crop: :fill) %>
      <% elsif horse.avatar? %>
        <%= image_tag(horse.avatar, width: 400, height: 300, crop: :fill)  %>
      <% end %>
      <div class="card-location">
        <a href="#"><i class="fas fa-map-marker-alt"></i>  0.3 km</a>
      </div>
      <div class="card-product-infos">
        <%= link_to horse.horse_name, horse_path(horse), class:"horse-name" %>
        <br>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem et nesciunt sapiente repellat facilis sed explicabo eligendi mollitia deleniti cum quasi incidunt, consequatur at commodi fugit? Inventore beatae error hic.</p>
        <%= link_to "See more >", horse_path(horse) %>
      </div>
   </div>
  <% end  %>
  <br>


  <div class='sidebar'>
    <div class='heading'>
      <h1>Our locations</h1>
    </div>
    <div id='listings' class='listings'></div>
  </div>

  <% if @markers %>
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% end %>
    <br>
    <br>
    <div class="horse-creating">
      <div class="">
        <h2>Want to place your own horse on the market?</h2>
        <br>
        <br>
        <%= link_to "Click here", new_horse_path, class: "btn btn-gradient-orange"  %>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
