<div class="container">
<h1>Available horses</h1>
<div class="photo-bubble">
   <%= cl_image_tag("xnhgvnaionv6bt9ipxxh", height: 200, width: 200, crop: :fill) %>
    <div class="bubble">

    <p>"Good job getting here, Brandon. It seems there is only one horse available right now.
      Lucky for you, bad luck for me. It's me, Bojack!"</p>
   </div>
  </div>
  <% @horses.each do |horse|  %>

  <div class="card-product">
    <%= cl_image_tag(horse.avatar, width: 400, height: 300, crop: :fill) %>
        <div class="card-location">
      <a href="#"><i class="fas fa-map-marker-alt"></i>  0.3 km</a>
    </div>
    <div class="card-product-infos">
      <%= link_to horse.horse_name, horse_path(horse), class:"horse-name" %>
      <br>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem et nesciunt sapiente repellat facilis sed explicabo eligendi mollitia deleniti cum quasi incidunt, consequatur at commodi fugit? Inventore beatae error hic.</p>
    <% if horse.photo.attached? %>
      <%= cl_image_tag(horse.photo.key, width: 400, height: 300, crop: :fill) %>
    <% elsif horse.avatar? %>
      <%= cl_image_tag(horse.avatar, width: 400, height: 300, crop: :fill)  %>
    <% end %>
    <div class="card-product-infos">
      <%= link_to horse.horse_name, horse_path(horse), class:"horse-name" %>

      <%= link_to "See more >", horse_path(horse) %>
    </div>

   </div>
   <% end  %>


   <div class="card-product">
    <div class="card-product-infos">
      <h3>Want to place your own horse on the market?</h3>
      <%= link_to "Click here", new_horse_path %>
    </div>
   </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
