<div class="container">
  <div class="card-show">
    <div>
      <h1>
        Hey, I am <%= @horse.horse_name %>.
      </h1>
      <% if @horse.photo.attached? %>
        <%= cl_image_tag(@horse.photo.key, width: 400, height: 300, crop: :fill) %>
      <% elsif @horse.avatar? %>
        <%= cl_image_tag(@horse.avatar, width: 400, height: 300, crop: :fill)  %>
      <% end %>
    </div>
    <div class="card-show-infos">
      <div style="width: 100%; height: 250px; box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;">
        <table>
          <tr>
            <th>Obedience</th>
            <th>Speed</th>
            <th>Height</th>
          </tr>
          <tr>
            <td><%= @horse.obedience %></td>
            <td><%= @horse.speed %></td>
            <td><%= @horse.height %></td>
          </tr>
        </table>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae maxime ex deleniti quas error odio explicabo dolores deserunt aperiam reprehenderit eius animi, accusamus tempora impedit eum non delectus adipisci fugiat. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione perferendis atque sunt dolor fugit exercitationem dolore placeat molestiae ut? Dolores nostrum recusandae necessitatibus sapiente eveniet aliquid voluptatibus qui esse quam?</p>
      </div>
      <div class="center-button-horizontal">
        <%= link_to 'Book me!', new_horse_booking_path(@horse), class: "btn btn-gradient-orange-small" %>
      </div>

      <div id="map"
        style="width: 100%; height: 250px; box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
  </div>
</div>
