<div class="banner" id="hp-banner">
  <div class="container">
    <h1>Change your life and ride a horse.</h1>
    <p>Rent a horse provides environmentally friendly transportation!</p>
    <%= link_to "Show me horses", horses_path, class: "btn btn-gradient" %>

  </div>
</div>
<div class="container">

<h3>Our most popular horses</h3>
  <% @horses.each do |horse|  %>
  <%# <%= link_to horse_path(horse), :action => 'go' do %>
  <div class="card-product">

      <% if horse.photo.attached? %>
        <%= cl_image_tag(horse.photo.key, width: 400, height: 300, crop: :fill) %>
      <% elsif horse.avatar? %>
        <%= cl_image_tag(horse.avatar, width: 400, height: 300, crop: :fill)  %>
      <% end %>
        <div class="card-location">
          <a href="#"><i class="fas fa-map-marker-alt"></i>  0.3 km</a>
        </div>
        <div class="card-product-infos">
            <%= link_to horse.horse_name, horse_path(horse), class:"horse-name" %>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem et nesciunt sapiente repellat facilis sed explicabo eligendi mollitia deleniti cum quasi incidunt, consequatur at commodi fugit? Inventore beatae error hic.</p>
            <%= link_to "See more >", horse_path(horse) %>
        </div>
   </div>
    <% end %>
</div>
