<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("horse-heaven.jpeg") %>);">
  <div class="container">
    <h1>Rent a horse provides environmentally friendly transportation!</h1>
    <p>Change your life and ride a horse.</p>
    <%= link_to "Show me horses", horses_path, class: "btn btn-gradient" %>

  </div>
</div>
<div class="container">
    <div class="card-product">
    <%= cl_image_tag("xnhgvnaionv6bt9ipxxh", width: 400, height: 300, crop: :fill) %>
      <div class="card-product-infos">
        <h4>unavailable</h4>
        <h2>Heiko</h2>
        <p>Fast and friedly.</p>
      </div>
    </div>
    <div class="card-product">
    <%= cl_image_tag("xnhgvnaionv6bt9ipxxh", width: 400, height: 300, crop: :fill) %>
      <div class="card-product-infos">
        <h3>available</h3>
        <h2>Bojack</h2>
        <p>Fast and friedly.</p>
      </div>
    </div>
    <div class="card-product">
    <%= cl_image_tag("xnhgvnaionv6bt9ipxxh", width: 400, height: 300, crop: :fill) %>
      <div class="card-product-infos">
        <h4>unavailable</h4>
        <h2>Bella</h2>
        <p>Strong and beautiful.</p>
      </div>
    </div>
    <div class="card-product">
    <%= cl_image_tag("xnhgvnaionv6bt9ipxxh", width: 400, height: 300, crop: :fill) %>
      <div class="card-product-infos">
        <h4>unavailable</h4>
        <h2>Sunshine</h2>
        <p>Slow but funny.</p>
      </div>
    </div>
    <div class="card-product">
    <%= cl_image_tag("xnhgvnaionv6bt9ipxxh", width: 400, height: 300, crop: :fill) %>
      <div class="card-product-infos">
        <h2>Heiko</h2>
        <p>Fast and friedly.</p>
      </div>
    </div>
      <div class="card-product">
    <%= cl_image_tag("xnhgvnaionv6bt9ipxxh", width: 400, height: 300, crop: :fill) %>
      <div class="card-product-infos">
        <h2>Heiko</h2>
        <p>Fast and friedly.</p>
      </div>
    </div>
</div>
