<!DOCTYPE html>
<html>
  <head>
    <title>RentAHorse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


    <%= yield %>

  <div class="footer">
    <div class="footer-content container">

      <div class="footer-section about">
        <h1>Rent a Horse</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione ducimus, repellendus quisquam vel at nemo odio delectus iure assumenda adipisci excepturi quibusdam obcaecati, reiciendis recusandae, totam iste expedita placeat?
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; +49 123-456-789</span>
          <span><i class="fas fa-envelope"></i> &nbsp; info@rentahorse.com</span>
        </div>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
            <li><%= link_to "Horses", horses_path, class: "quick-links"%></li>
            <li><%= link_to "Concept", horses_path, class: "quick-links" %></li>
            <li><%= link_to "User", horses_path, class: "quick-links" %></li>
            <li><%= link_to "Team", horses_path, class: "quick-links" %></li>
            <li><%= link_to "Terms and Conditions", horses_path, class: "quick-links" %></li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      &copy; rentahorse.com
    </div>
  </div>

  </body>
</html>
